



<div class="container">
  <div class="row md-8">
     <div class="card w-100 mt-2 ">
        <div class="card-header">({{matchService.getMatch().getTotalRuns()}}/{{matchService.getMatch().getTotalWickets()}})</div>
        <div class="card-body">
            <table class="table">
                <thead class="table-primary">
                 <tr>
                    <th scope="col">#</th>
                    <th scope="col" colspan="3"></th>
                  </tr>
                  <tr>
                    <th scope="col">Over</th>
                    <th scope="col">Runs Per Ball</th>
                    <th scope="col">Commentry</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let commentry of matchService.getMatch().getCommentry()">
                    <th scope="row"> {{commentry.getCurrentOver()}}.{{commentry.getCurrentBall()}} </th>
                    <td>{{commentry.getRunsOnCurrentBall()}}</td>
                    <td>{{commentry.getDescriptionForBall()}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
     </div>
  </div>
</div>
     