<div class="container">
  <div class="row sm-6">
     <div class="card w-50 mt-2 ">
        <div class="card-header">{{ matchService.getMatch().getTeamName1() }}</div>
        <div class="card-body">
           <app-team-player [player]="player" [index]="i" *ngFor="let player of matchService.getMatch().getTeam1().getPlayer();index as i"></app-team-player>
        </div>
     </div>
     <div class="card w-50 mt-2 ">
        <div class="card-header">{{ matchService.getMatch().getTeamName2() }}</div>
        <div class="card-body">
           <app-team-player [player]="player" [index]="i" *ngFor="let player of matchService.getMatch().getTeam2().getPlayer();index as i"></app-team-player>
        </div>
     </div>
  </div>
</div>
<div class="col text-center mt-4">
  <button class="btn btn-outline-success" (click)="onStartMatchClick()">Start Match</button>
</div>
<router-outlet></router-outlet>